<% layout('boilerplate')%>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div>
        <h1>All Products</h1>
    </div>
        
    
    
        <div class="grid-container">
            <% for (let product of products){%>
                <div class="card mb-3 grid-item">
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <div style="display: flex; justify-content: center;" >
                            <img class="img-fluid" alt="" src="<%=product.image%>" style="width: 250px; height: 250px;">
                        </div>
                        <div>
                            <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
                                <h5 class="card-title">
                                    <%= product.name %>
                                </h5>
                                <p class="card-text">
                                    <%= product.description %>
                                </p>
                                
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            <small class="text-muted">
                                <%= product.price%>৳
                            </small>
                        </p>
                        <hr>
                        <a class="btn btn-secondary" href="/product/<%=product._id%>">Buy Now</a>
                    </div>
                    
                </div>
                <% }%>
                    </div>
        </div>
</div>



    
<style>
    .card {
        display: flex;
    flex-direction: column;
    height: 100%;
    }
    .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
    .products {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      padding: 16px;
    }
    .grid-item {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      padding: 16px;
      text-align: center;
    }
    .card-footer {
    margin-top: auto;
    border-top: none;
    padding-top: 0;
}

.card-text.description {
    flex: 1 1 40%;
}
</style>